<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="shortcut icon" href="./readme-images/favicon.svg" type="image/svg+xml">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="./assets/css/login.css">
         
    <title>Change Password</title>
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Đổi mật khẩu</span>

                <form action="#">
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Mật khẩu hiện tại" required>
                        <i class="uil uil-lock icon"></i>
                        <i class=""></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Mật khẩu mới" required>
                        <i class="uil uil-lock icon"></i>
                        <i class=""></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Xác thực mật khẩu" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Đổi mật khẩu">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="./assets/js/login.js"></script>
</body>
</html>

